* {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin: 0px 30px;
}

.card {
  border: solid 1px white;
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
  text-align: center;
  width: 250px;
  transition: all .3s ease-in;
}

.card:hover {
  transform: scale(1.05);
  border: solid 3px white;
}

.card img {
  width: 100%;
}

.titulo {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0px;
  text-decoration: underline;
  transition: all .3s ease-in;
}

.titulo:hover {
  font-size: 3.2rem;
}